<h2 class="my-class"><%= page_title %></h2>

<% if @trip.errors.any? %>
<ul class="errors">
  <% @trip.errors.each do |field, message| %>
  <li>
    <strong><%= field.capitalize %>: </strong><%= message %>
  </li>
  <% end %>
</ul>
<% end %>



<%= form_for @trip do |f| %>

<%= f.label :passenger_id %>
<%= f.select :passenger_id, Passenger.all.map { |passenger| [passenger.name, passenger.id]} %>

<%= f.label :driver_id %>
<%= f.select :driver_id, Driver.all.map { |driver| [driver.name, driver.id]} %>

<%= f.label :date %>
<%= f.date_field :date %>

<%= f.label :rating %>
<%= f.number_field :rating, min: 1, max: 5 %>

<%= f.label :cost %>
<%= f.number_field :cost, :step => 0.01 %>





<%= f.submit %>

<% end %>
