<h2 class="my-class"><%= page_title %></h2>

<% if @trip.errors.any? %>
<ul class="errors">
  <% @trip.errors.each do |field, message| %>
  <li>
    <strong><%= field.capitalize %>: </strong><%= message %>
  </li>
  <% end %>
</ul>
<% end %>

<%= form_for @trip do |f| %>

<%= f.label :passenger_id %>

<% if !params[:passenger_id] %>
  <%= f.select :passenger_id, Passenger.all.map { |passenger| [passenger.name, passenger.id]} %>

<% else %>
  <% single_passenger = Passenger.find_by(id: params[:passenger_id]) %>
  <%= "#{single_passenger.name}" %>
  <%= f.hidden_field :passenger_id %>
<% end %>

<%= f.label :driver_id %>
<%= f.select :driver_id, Driver.all.map { |driver| [driver.name, driver.id]} %>

<%= f.label :date %>
<% if !params[:passenger_id] %>
  <%= f.date_field :date %>
<% else %>
  <%= f.date_field :date, min: Time.now %>
<% end %>


<%= f.label :rating %>
<%= f.number_field :rating, min: 1, max: 5 %>

<%= f.label :cost %>
<%= f.number_field :cost, :step => 0.01 %>

<%= f.submit %>

<% end %>
