<h2><%= @trip.date%></h2>
<p>Trip ID: <%= @trip.id %></p>
<p>Trip Cost: $<%= @trip.cost / 100 %></p>

<h3>Modify trip:  </h3>
<ul>
  <li>
    <%= link_to "Edit", edit_trip_path %>
  </li>

  <li>
    <%= link_to "Delete", trip_path(@trip.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
</ul>
