<h2><%= @trip.date%></h2>
<p>Trip ID: <%= @trip.id %></p>
<p>Trip Cost: $<%= @trip.cost / 100 %></p>

<% if @trip.driver_id != nil %>
<p><%= link_to "Driver: #{@trip.driver_id}", driver_path(@trip.driver_id) %></p>
<% else %>
<p><%= link_to "Driver: DELETED DRIVER", drivers_path %></p>
<% end %>

<% if @trip.passenger_id != nil %>
<p><%= link_to "Passenger: #{@trip.passenger_id}", passenger_path(@trip.passenger_id) %></p>
<% else %>
<p><%= link_to "Passenger: DELETED PASSENGER", passengers_path %></p>
<% end %>

<h3>Modify trip:  </h3>
<ul>
  <li>
    <%= link_to "Edit", edit_trip_path %>
  </li>

  <li>
    <%= link_to "Delete", trip_path(@trip.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
</ul>
