<h2 class="my-class"><%= page_title %></h2>

<% if @passenger.errors.any? %>
<ul class="errors">
  <% @passenger.errors.each do |field, message| %>
  <li>
    <strong><%= field.capitalize %>: </strong><%= message %>
  </li>
  <% end %>
</ul>
<% end %>

<section class="new-form">
<%= form_for @passenger do |f| %>

<div class="input-driver-name">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="input-driver-vin">
<%= f.label :phone_num %>
<%= f.text_field :phone_num %>
</div>

<div class="submit">
<%= f.submit %>
<div>

<% end %>
</section>
