<h2><%= @passenger.name%></h2>
<p>Phone Number: <%= @passenger.phone_num %></p>
<p>Total Charged: $<%= @passenger.total_charge %></p>
<h3>Trips By Date: </h3>
<ul>
  <% @trips.each do |trip| %>
  <li>
    <span class="name">
      <%=  link_to trip.date, trip_path(trip.id), class: 'trip-link' %>
    </span>
  </li>
  <% end %>
</ul>

<%# TODO: Partial form ofr passenger requesting a ride  %>

<h3>Modify Passenger:  </h3>
<ul>
  <li>
    <%= link_to "Edit", edit_passenger_path %>
  </li>

  <li>
    <%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
</ul>
