<h2><%= @passenger.name%></h2>

<section class="">
  <% if @passenger.ride_in_progress %>
    <h3>Ride in Progress... </h3>

  <% elsif Driver.first_available_driver == nil %>
    <h3>No Driver Is Available At This Time</h3>

  <% else %>
    <%= link_to "Request a Ride", passenger_trips_path(@passenger.id), method: :post %>
  <% end %>
</section>

<p>Phone Number: <%= @passenger.phone_num %></p>
<p>Total Charged: $<%= @passenger.total_charge %></p>
<h3>Trips: </h3>

<% @trips.each do |trip| %>
<section class="trips-table">
  <div class="trip-id">
    <h4>Trip ID</h4>
    <p><%= link_to trip.id,trip_path(trip.id), class: 'trip-link' %></p>
  </div>
  <div class="trip-date">
    <h4>Date</h4>
    <p><%= trip.date %></p>
  </div>
  <div class="trip-driver">
    <h4>Driver</h4>
    <p><%= link_to trip.driver_id,trip_path(trip.driver_id), class: 'trip-link' %></p>
  </div>
  <div class="trip-passenger">
    <h4>Passenger</h4>
    <p><%= link_to trip.passenger_id,trip_path(trip.passenger_id), class: 'trip-link' %></p>
  </div>
  <div class="trip-cost">
    <h4>Cost</h4>
    <p><%= trip.calculate_cost %></p>
  </div>
  <div class="trip-rating">
    <h4>Rating</h4>
    <p><% if trip.rating == nil %>
      <%= form_for trip do |f| %>
        <%= f.number_field :rating, min: 1, max: 5 %>
        <%= f.submit %>
      <% end %>
    <% else %>
      <%= trip.rating %>
    <% end %>
  </p>
  </div>
</section>
<% end %>

<h3>Modify Passenger:  </h3>
<ul>
  <li>
    <%= link_to "Edit", edit_passenger_path %>
  </li>

  <li>
    <%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
</ul>
