<h2><%= page_title %></h2>

<% if @driver.errors.any? %>
<ul class="errors">
  <% @driver.errors.each do |field, message| %>
  <li>
    <strong><%= field.capitalize %>: </strong><%= message %>
  </li>
  <% end %>
</ul>
<% end %>


<section class="new-form">
  <%= form_for @driver do |f| %>

  <div class="input-driver-name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="input-driver-vin">
    <%= f.label :vin %>
    <%= f.text_field :vin %>
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>

  <% end %>
</section>
